<div class = "hero">
  <div class = "top-bar">
  <% count = @list.movies.count %>
  <% if count > 1 %>
    <%= content_tag(:span, "#{count} movies", class: "movie-count-indicator") %>
  <% elsif count == 0 %>
    <%= content_tag(:span, "No movie added yet", class: "movie-count-indicator") %>
  <% else %>
    <%= content_tag(:span, "#{count} movie", class: "movie-count-indicator") %>
  <% end %>
</div>
<div class = "title">
  <h3><%= @list.name %></h3>
</div>
</div>

<div class = "content">
  <div class = "button-container">
    <%= link_to "add a movie", new_list_bookmark_path(@list), class: "add-movie-button" %>
  </div>

  <div class = "movies-container">
    <div class="movie-cards">
    <% @list.movies.each do |movie| %>
      <% background_image = "https://image.tmdb.org/t/p/w92/#{movie.poster_url}"%>
      <div>
        <div class="movie-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= background_image %>)">
          <%= content_tag(:span, movie.title, class: "title") %> ⋅ <%= content_tag(:span, "#{movie.rating} ⭐", class: "rating")  %>
        </div>

        <div class="movie-card-category-info">
          <p><%= movie.overview.truncate(100)%></p>
        </div>
      </div>



    <% end %>
  </div>
  </div>
</div>
